body{
    font-family: Arial, sans-serif;
    background-image: url(images/background3.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed; 
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topbar{
    width: 100vw;
    height: 100px;
    position: relative;
    top: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(44, 44, 250, 0.9), rgba(255, 68, 0, 0.721));
    color: white;
}

#topbar h1{
    margin: 0px;
}
.cityInput{
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.237);
    border-radius: 10px;
    margin: 10px;
    width: 50%;
}

button[type="submit"]{
    padding: 7px 15px;
    font-weight: bold;
    font-size: 1.5em;
    background-color: rgb(26, 71, 252);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
}

button[type="submit"]:hover{
    background-color:  rgb(57, 96, 253);
}

.card{
    margin-top: 30px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgb(38, 38, 255), rgb(255, 166, 0));
    padding: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.635);
    min-width: 25%;
    display: none;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat; /*if u use a smaller pic it won't repeat it to fill background*/
    background-position: center;
    background-attachment: scroll; /*weather a background image scrolls with the page or is fixed */
    background-size: cover; 
}

.timeDisplay{
    font-weight: bold;
}

h1{
    font-size: 3.5em;
    margin-top: 0px;
    margin-bottom: 25px;
}

p{
    font-size: 1.3em;
    margin: 10px 0px;
}


.cityDisplay, .tempDisplay{
    font-weight: bold;
}

.tempDisplay{
    margin-bottom: 25px;
    font-size: 3em;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay{
    font-weight: bold;
    font-size: 1.7em;
}

.weatherEmoji{
    margin: 0px;
    font-size: 7em;
}

.errorDisplay{
    font-size: 2.5em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.735);
}

@media only screen and (max-width: 500px){
    #topbar{
        height: 70px;
    }
    #topbar h1{
        font-size: 2em;
    }
    .cityInput{
        font-size: 1.5em;
    }
    .weatherForm button{
        font-size: 1.1em;
    }
    .card{
        padding: 10px;
    }
    .card h1{
        font-size: 3em;
    }
    .tempDisplay{
        font-size: 2em;
    }
    .weatherEmoji{
        font-size: 5em;
    }
    .errorDisplay{
        font-size: 1.5em;
    }
}